@import url("http://fonts.googleapis.com/css?family=Lobster");
@import url("http://fonts.googleapis.com/css?family=Lato");

body{
  background: url('https://unsplash.imgix.net/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=75&fm=jpg&auto=format&s=0798c4e39d1acb580b25a93863dcae97') fixed no-repeat;
  background-size: cover;
}

.container{
  .header{
    background: rgba(255,255,255,0.8);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    .title-header{
      font-size: 2rem;
      font-family: 'Lobster', cursive;
      color: green;
    }
    .menu{
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0.5rem;
      padding: 0.5rem;
      color: #343434;
      display: inline;
    }
    #home-btn{
      cursor: pointer;
    }
    #chart-btn{
      cursor: pointer;
    }
    #export-btn{
      cursor: pointer;
    }
  }
  .ledger-list{
    margin-top: 1rem;
    display: none;
    width: 100%;
    select{
      width: 8.3rem;
      border-radius: 0;
    }
  }

}

// Pie Chart
#container{
  display: none;
  width: 95%; 
  margin: 2rem auto;
}