@import url("http://fonts.googleapis.com/css?family=Lobster");
@import url("http://fonts.googleapis.com/css?family=Lato");

body{
  background: url('https://unsplash.imgix.net/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=75&fm=jpg&auto=format&s=0798c4e39d1acb580b25a93863dcae97') fixed no-repeat;
  background-size: cover;
}

.container{
  .header{
    background: rgba(255,255,255,0.8);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    .title-header{
      font-size: 2rem;
      font-family: 'Lobster', cursive;
      color: green;
    }
    .menu{
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0.5rem;
      padding: 0.5rem;
      color: #343434;
      display: inline;
    }
    #home-btn{
      cursor: pointer;
    }
    #chart-btn{
      cursor: pointer;
    }
  }
  .ledger-list{
    margin-top: 1rem;
    display: none;
    width: 100%;
    select{
      width: 8.3rem;
      border-radius: 0;
    }
  }
  .ledger-table{
    display: none;
    .table-content{
      text-align: left;
      td{
        max-width: 5rem;
      }
    }
  }
  .ledgers{
    font-family: 'Lato', sans-serif;
    border: 1px solid #343434;
    // border-radius: 1rem;
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    max-width: 24rem;
    // overflow: hidden;
    position: relative;
    #new-btn{
      color: black;
      position:absolute;
      left: 0;
      top: -1.5rem;
      cursor: pointer;
    }
    .item{
      padding-top:5px;
      width: 100%;
      position: relative;
      background: rgba(255,255,255,0.8);
      border-bottom: 1px solid lightgray;
      .price{
        display: inline;
        color: #41434A;
        width: 20%;
        position:absolute;
        left: 1rem;
      }
      .item-header{
        .purchase-link{
          cursor: default;
          text-decoration: none;
          color: black;
          width: 60%;
        }
        display: inline;
        color: black;
      }
      .item-btns{
        display: inline;
        width: 20%;
        position: absolute;
        right: 1rem;
      }
      .note{
        font-size: 0.8rem;
        color: #41434A;
        display: none;
      }
      .date{
        color: gray;
        font-size: .7rem;
      }
    }

    }
}

#container{
  width: 100%;
  display: none;
}